[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = ">=5.0"
dj-database-url = "*"
psycopg2-binary = "*"
Pillow = "*"

[dev-packages]

[requires]
